.monthDisplay{
    display: flex;
    flex-direction: column;
    background-color: #A6CDC6;
    text-align: center;
    font-size: 30px;

    border-radius: 5px;
}

.calendarDisplay{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    justify-content: center;
    align-items: center;

    background-color: #A6CDC6;
    padding: 10px;
    border-radius: 5px;
}

.calendarDate{
    display: flex;
    flex-direction: column;

    border: 1px solid #63978d;
    background-color: #f9fffe;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

.selected{
    background-color: #63978d;
    color: #ddfff9;
}