.monthDisplay{
    display: flex;
    flex-direction: column;
    background-color: #bdbdbd;
    text-align: center;
    font-size: 30px;
}

.calendarDisplay{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    justify-content: center;
    align-items: center;

    background-color: #bdbdbd;
    padding: 10px;
}

.calendarDate{
    display: flex;
    flex-direction: column;

    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

.selected{
    background-color: #272727;
    color: #ffffff;
}