#headerText{
    font-family: "Questrial", sans-serif;
    font-size: 1.5em;
}

.month-picker-wrapper{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
}

#monthInput::-webkit-calendar-picker-indicator{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#monthInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Questrial", sans-serif;
    font-size: 1.3em;

    padding: 20px;
    border-radius: 5px;
    width: max-content;
    width: 100%;
}

.calendarDisplay{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;

    justify-content: center;
    align-items: center;

    padding: 10px;
    border-radius: 5px;

    z-index: 2;
}

.calendarDate{
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

.calendarDate:hover{
    cursor: pointer;
}
