.eventContainer{
    display: flex;
    gap: 10px;
    flex-direction: column;

    background-color: none;
    
    margin: 25px;
    padding: 20px;
    
    border: none;

    height: 485px;

    overflow-y: scroll;
    scrollbar-color: #16404D rgba(0,0,0, 0);
}

.event{
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-bottom: 10px;

    animation: slideIn 0.3s ease-out;
}

.eventTime{
    background-color: rgb(233, 233, 233);
    display: flex;
    padding: 10px;

    font-family: "Questrial", sans-serif;
    border: none;
    border-radius: 3px;
}

.eventTime[input]:hover{
    cursor: pointer;
}

.eventDescriptionBox{
    display: flex;
    flex: 30%;
    background-color: rgb(233, 233, 233);
    padding: 3px;
    
    align-items: center;
    justify-content: space-between;

    height: fit-content;
    min-height: 40px;
    position: relative;

    border-radius: 3px;
}

.eventDescription{
    display: flex;
    flex: 30%;
    background-color: rgb(233, 233, 233);
    padding: 5px;
    padding-left: 10px;

    height: fit-content;
    min-height: 40px;
    position: relative;

    border: none;

    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    resize: none;
}

.deleteEventButton{
    border: none;
    background-color: rgb(233, 233, 233);

    top: 5px;
    right: 5px;
    position: absolute;

    z-index: 5;
}

#deleteEvent{
    width: 10px;
    height: 10px;
}

#deleteEvent:hover{
    cursor: pointer;
}

#addEventButton{
    width: 95%;
    height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    border: none;
    background-color: #16404D;
    color: rgb(233, 233, 233);
    
}

#addEventButton:hover {
    background-color: #0d2830;
    cursor: pointer;
}