.eventContainer{
    display: flex;
    gap: 10px;
    flex-direction: column;

    background-color: none;
    
    margin: 25px;
    padding: 20px;
    
    border: none;

    height: 485px;

    overflow-y: scroll;
}

.event{
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-bottom: 10px;

    animation: slideIn 0.3s ease-out;
}


.eventTime{
    display: flex;
    padding: 10px;
    height: 20px;

    font-family: "Questrial", sans-serif;
    border: none;
    border-radius: 3px;
}

.eventTime[input]:hover{
    cursor: pointer;
}


.eventDescription{
    display: flex;
    flex: 30%;
    padding: 10px;

    height: fit-content;
    min-height: 40px;
    position: relative;

    border-radius: 3px;

    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    resize: none;
}

#deleteEvent{
    width: 10px;
    height: 10px;

    top: 5px;
    right: 5px;
    position: absolute;

    z-index: 5;
}

#deleteEvent:hover{
    cursor: pointer;
}

#addEventButton{
    width: 95%;
    height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    border: none;
    
}

#addEventButton:hover {
        cursor: pointer;
    }